.boxLeft {
  background-color: var(--primary);
  width: 100%;
  height: 100vh;
}
.verify-button-wrap {
  margin-top: 10px;
}
.update-button-wrap {
  background-color: var(--primary) !important;
}
.boxWrap {
  min-width: 326px;
  gap: 30px;
  color: var(--white);
}
.boxWrap p {
  width: 95%;
  padding: 20px;
}
.mainWrap {
  padding: 0 100px;
  flex: 1;
}
.boxRight {
  flex: 1;
  overflow: auto;
}
.regTxt {
  font-size: 35px;
  gap: 5px;
  margin-bottom: 10px;
}
.regTxt h6 {
  font-weight: 600;
  margin-bottom: 0;
  color: var(--primary);
}
.boxRight .infoTxt {
  width: 73%;
  margin-bottom: 5px;
}
.logoWrap {
  width: 150px;
  margin-bottom: 5px;
}
.logoWrap img {
  width: 100%;
}
.fromWrap {
  margin-top: 10px;
}
.fromWrap input {
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgb(0 0 0 / 16%);
  text-indent: 5px;
}
.fromWrap .inputHolder {
  margin-bottom: 10px;
}
.customCheck .form-check {
  gap: 10px;
  display: flex;
  align-items: center;
}
.customCheck input {
  width: 25px;
  height: 25px;
}
.customCheck label {
  color: var(--primary);
  padding-top: 5px;
}
.logoImg {
  width: 200px;
}
.formFooter {
  gap: 10px;
}
.formFooter button {
  background: var(--primary);
  border-radius: 10px;
  padding: 15px 25px;
  height: 50px;
}
.resendText {
  cursor: pointer;
  padding: 10px 0 5px;
  font-size: 12px;
  color: var(--primary);
  font-weight: 600;
  background-color: transparent;
  border: none;
  min-width: 100px;
}
.resendText:hover {
  background-color: transparent;
  border: none;
  color: var(--primary);
}
.hintText {
  font-size: 12px;
  margin-bottom: 0;
  padding-top: 5px;
  font-weight: 200;
}
.verifyBtn,
.verifyBtn:active {
  display: flex;
  align-items: center;
  gap: 7px;
  background: #fff !important;
  color: var(--secondary) !important;
  border: 1px solid #ced4da;
  border-radius: 10px;
  height: 60px;
}
.formFooter button:hover {
  background: var(--primary);
}
.formFooter a {
  color: var(--primary);
  font-weight: 600;
}
.sucessModal .modal-content {
  border-radius: 20px;
}
.sucessModal .modal-header {
  border-bottom: 0;
}
.sucessModal .btn-close {
  font-size: 13px;
}
.blastImg {
  width: 180px;
  position: relative;
  top: -23px;
}
.blastImg img,
.signBox a img {
  width: 100%;
}
.greetWrap .infoTxt {
  color: var(--secondary);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.signBox {
  gap: 10px;
}
.signBox a {
  width: 25px;
  height: 25px;
}
.signOptions {
  gap: 10px;
}
.signOptions span {
  font-size: 12px;
  color: #b1b1b1;
}
.customVerifyBox {
  gap: 10px;
}
.optionRoot {
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: space-between;
}
.formValid .form-control:valid {
  border-color: green !important;
  background-image: auto;
}
.formInvalid .form-control:valid {
  border-color: red !important;
  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e');
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-control.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%) !important;
  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e') !important;
}
.hintTxt {
  color: #d1d1d1;
}

@media only screen and (max-width: 1400px) {
  .boxRight .infoTxt {
    width: 100%;
  }
  .optionRoot {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mainWrap {
    padding: 0;
  }
  .regTxt {
    align-items: flex-start !important;
    font-size: 21px;
  }
  .fromWrap {
    margin-top: 0;
  }
  .boxRight {
    overflow-x: hidden;
  }
  .signUpWrapper .customVerifyBox {
    flex-direction: column;
    gap: 0;
    margin-bottom: 10px;
  }
  .signUpWrapper .customVerifyBox .inputHolder {
    margin-bottom: 0;
  }
}
.messageBox {
  padding: 10px;
  border-radius: 10px 15px 0px 10px;
  background: #2a6fbb;
  color: #fff;
  box-shadow: inset 0 0 0 1px #dadce0;
  font-size: 12px;
  display: flex;
  gap: 10px;
}
.messageBox span {
  font-weight: 600;
  font-size: 16px;
}
.divLine {
  width: 3px;
  background-color: white;
  height: auto;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .mainWrap {
    padding: 0 50px;
  }
  .boxRight {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .signUpWrapper .boxRight .infoTxt {
    margin-bottom: 20px;
  }
}
.otpError {
  color: #dc3545;
  padding-top: 5px;
  margin: 0 0 0;
  font-size: 0.875rem;
  width: 100% !important;
}

.region {
  width: 30%;
  margin-top: 10px;
  display: inline-block;
  height: 60px;
}
.stateOption {
  margin: 0px 25px 0px 25px;
}

.checkBox {
  margin-left: 0px;
}

.acknowledgement {
  margin-left: '20px';
}

.mobileCode {
  width: '25%';
  height: '60px';
  background-color: red;
}

.phone {
  width: '75%';
}
