.profileAvatar {
  width: 10%;
  height: 150px;
  text-align: end;
}

.profileWrapper {
  flex-direction: column;
}

.textContainer {
  background-color: aliceblue;
  padding: 5px;
}

@media screen and (max-width: 550px) {
  .profileAvatar {
    width: 20%;
    height: 80px;
  }
  .buttonPrimary {
    width: 30% !important;
  }
}
