.videoWrapper {
  width: 702px;
  position: relative;
  border-radius: 10px;
}
.videoHeader {
  background-color: var(--black);
}
.wrapperCard .titleHeader {
  padding-left: 0;
}
.videoHeader {
  background-color: var(--black);
  position: absolute;
  padding: 20px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--white);
}
.videoWrapper video {
  width: 702px;
  border-radius: 10px;
}
.videoInfo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 30px 0;
}
.contactSalesText {
  padding-top: 20px;
}

#fc_frame.fc-widget-fullscreen.fc-widget-normal,
#fc_frame.fc-widget-fullscreen.fc-widget-small,
#fc_frame.fc-mobile-view.h-open-container {
  margin-left: 16% !important;
  width: 83% !important;
  height: 88% !important;
}

@media only screen and (max-width: 767px) {
  .videoWrapper {
    width: 100%;
  }
  #fc_frame.fc-widget-fullscreen.fc-widget-normal,
  #fc_frame.fc-widget-fullscreen.fc-widget-small,
  #fc_frame.fc-mobile-view.h-open-container {
    margin-left: 0 !important;
    width: 100% !important;
    height: 88% !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .wrapperCard .titleHeader h6,
  .videoHeader h5 {
    font-size: 16px;
  }
}

.controlWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Video */

.video {
  width: 100vw;
  height: 100vh;
}

.time_progressbarContainer {
  background-color: gray;
  border-radius: 15px;
  width: 657.61px;
  height: 5px;
}

.time_progressBar {
  border-radius: 15px;
  background-color: rgba(106, 199, 249, 1);
  height: 100%;
}

.controlsTime {
  color: white;
}

.bottomControl {
  position: absolute;
  bottom: 0;
  margin-left: 22.19px;
}
.videoSize {
  width: 80%;
}
.fullScreen_bottomControl {
  position: absolute;
  bottom: 0;
  margin-left: 22.19px;
  width: 80%;
}

.control {
  margin-bottom: 13px;
}
.backword {
  margin: 0px 18px 0px 12px;
}
.forward {
  margin: 0px 12px 0px 18px;
}
.fullScreen {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
}

.volumeBar {
  margin-top: 10px;
  display: inline-block;
}
.volumeIcon {
  margin: -6px 11px 0px 0px;
}
.setting {
  position: relative;
  margin: 0px 10px 0px 30px;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: black;
  bottom: 0;
}
.setting:hover .dropup-content {
  display: block;
}
.speedSetting {
  display: block;
  color: white;
  text-decoration: none;
}
